* text=auto
* text eol=lf

# Windows forced line-endings
/.idea/* text eol=crlf

# Binary files types
*.webp binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.swp binary
*.pdf binary
*.exe binary

/src/i18n/locales/ar.po merge=ours
/src/i18n/locales/bn.po merge=ours
/src/i18n/locales/ca.po merge=ours
/src/i18n/locales/da.po merge=ours
/src/i18n/locales/de.po merge=ours
/src/i18n/locales/el.po merge=ours
/src/i18n/locales/fa.po merge=ours
/src/i18n/locales/fil.po merge=ours
/src/i18n/locales/fr.po merge=ours
/src/i18n/locales/he.po merge=ours
/src/i18n/locales/hu.po merge=ours
/src/i18n/locales/id.po merge=ours
/src/i18n/locales/it.po merge=ours
/src/i18n/locales/ja.po merge=ours
/src/i18n/locales/ko.po merge=ours
/src/i18n/locales/nb-NO.po merge=ours
/src/i18n/locales/nl.po merge=ours
/src/i18n/locales/pt-BR.po merge=ours
/src/i18n/locales/pt.po merge=ours
/src/i18n/locales/ro.po merge=ours
/src/i18n/locales/ru.po merge=ours
/src/i18n/locales/sk.po merge=ours
/src/i18n/locales/sr.po merge=ours
/src/i18n/locales/sv.po merge=ours
/src/i18n/locales/ta.po merge=ours
/src/i18n/locales/th.po merge=ours
/src/i18n/locales/tr.po merge=ours
/src/i18n/locales/uk.po merge=ours
/src/i18n/locales/vi.po merge=ours
/src/i18n/locales/zh-Hans.po merge=ours
/src/i18n/locales/zh-Hant.po merge=ours
